.footer-container {
  background: #0f0e17;
  padding: 20px 0;
  color: white;
  position: relative;
  z-index: 10;
}

.footer-content {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-logo p {
  font-size: 1.5rem;
}
