.project-container {
  width: calc(50% - 2rem);
  box-sizing: border-box;
  display: flex;
}

.project {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-content {
  padding: 20px;
  background: linear-gradient(to left, #ecf1f5, #eef2f3);
}

.project-gif {
  width: 100%;
  height: 300px;
  object-fit: cover;
  vertical-align: middle;
}

.project-clip-path img {
  object-fit: cover;
  border: 1px solid red;
  width: 150px;
  height: 80px;
}

.project-buttons {
  display: flex;
  gap: 1rem;
}

.project-buttons > * {
  width: calc(50%);
  padding: 12px 24px;
  text-align: center;
}

.view-project-button {
  color: white;
  background-color: #ff8906;
  color: white;
  border: none;
  font-size: 14px;
}

.view-code-button {
  cursor: pointer;
  border: 1px solid #ff8906;
  color: #ff8906;
}

.project-description {
  height: 60px;
  margin: 1rem 0;
  font-weight: 600;
  opacity: 0.7;
  /* color: #7e82b3; */
}

.project-title {
  margin: 0;
  font: 900 normal 36px/34px var(--fontTitle);
  line-height: 3.12rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #f12711, #f5af19);
  text-shadow: 0, 0, 5px red;
}
