:root {
  --fontTitle: "Nunito", sans-serif;
  --fontText: "Lato", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontTitle);
}

p {
  font-family: var(--fontText);
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.99);
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  height: inherit;
  box-sizing: border-box;
}
